    <div class="container">
        <h1>{{ header }}</h1>
        <p>{{ content }}</p>

        <form action="/add" method="POST" novalidate>
            <div class="mb-3">
                {{#if todo}}
                <input type="hidden" name="id" value="{{ id }}" />
                <label for="todo" class="form-label">Заголовок:</label>
                <input type="text" name="todo" class="form-control" id="todo" aria-describedby="header" value="{{ todo }}" required />
                
                <label for="desc" class="form-label">Описание:</label>
                <textarea class="form-control" name="desc" aria-label="With textarea">{{ desc }}</textarea>

                <label for="todo" class="form-label">Длительность:</label>
                <input type="text" name="duration" class="form-control" id="duration" aria-describedby="duration" value="{{ duration }}" required />
                
                {{else}}
                <label for="todo" class="form-label">Заголовок:</label>
                <input type="text" name="todo" class="form-control" id="todo" aria-describedby="header" required>
                
                <label for="desc" class="form-label">Описание:</label>
                <textarea class="form-control" name="desc" aria-label="With textarea"></textarea>
                
                <label for="todo" class="form-label">Длительность:</label>
                <input type="text" name="duration" class="form-control" id="duration" aria-describedby="duration" required />
                
                {{/if}}
                
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
    